<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock %}</title>
      <!-- https://datatables.net/examples/basic_init/zero_configuration.html  -->
      <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
      <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
      <script>
         $(document).ready(function () {
            $('table').DataTable(
               {
                  //making first column (id?) invisible
                  "columnDefs": [
                     {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                     }
                  ]
               }
            );
         });
      </script>

   </head>

   <body>
      <h1>{% block header %}{% endblock %}</h1>
      {% block content %}{% endblock %}
      <br /><br />
    <h4>Navigation:</h4>
    <ul class="nav">
        <li><a href="/" >Example</a></li>
    </ul>

   </body>

</html>