<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{% block title %}{% endblock %}</title>
<!--    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='simple.css')}}" /> -->
</head>
<body>
   <h1>{% block header %}{% endblock %}</h1>
   {% block content %}{% endblock %}
   <br /><br />
   <h4>Navigation:</h4>
      <ul class="nav">
         <li><a href="/insert_country_form" >Insert Country</a></li>
         <li><a href="/country_delete">Delete Country</a></li>
         <li><a href="/country_table">Country Table</a></li>
         <li><a href="/city_datatable">City Datatable</a></li>
         <li><a href="/insert_city_form">Insert City</a></li>
      </ul>

</body>
</html>