{% extends "simple_layout.html" %}

{% block title %} {{title}}  {% endblock title %}
{% block header %} {{header}}  {% endblock header %}

{% block content %} 
<form action="" method="post">
    {{ form.csrf_token }}

    <div>
        {{form.chosenCols.label}}
        <span class="error">{{ form.chosenCols.errors | join("|") }}</span>
    </div>
    <div>
        {{form.chosenCols}}
    </div>

    <div>
        {{form.chosenRange.label}}
        <span class="error">{{ form.chosenRange.errors | join("|") }}</span>
    </div>
    <div>
        {{form.chosenRange}}
    </div>

    <!-- SUBMIT -->
    <div>
        {{form.submit()}}
    </div>
</form>
{% endblock content %}